<div class="center jumbotron">
  <h1>Dobrodošli na stranicu IT ITIL SUPPORT</h1>

  <h2>
    Ovo je početna stranica aplikacije
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" if session[:user_id].nil? %>


</div>

