<% provide(:title,  @it_process.name) %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> |ITSM App</title>
</head>
<body>
<h1><%= @it_process.name %></h1>

<h1><%= @it_process.code %></h1>

<h1><%= @it_process.description %></h1>


</body>
</html>